appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
babel==2.16.0
backports.functools-lru-cache
backtrader==1.9.78.123
beautifulsoup4
bleach
bottleneck
brotli
cached-property
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
et-xmlfile
exceptiongroup
executing
fastjsonschema==2.21.1
fonttools
fqdn
frozendict
h11==0.14.0
h2
hpack
html5lib
httpcore==1.0.7
httpx==0.28.1
hyperframe
idna
importlib-resources
ipykernel
ipython
ipython-genutils
isoduration
jedi
jinja2
joblib
json5==0.10.0
jsonpointer==3.0.0
jsonschema
jsonschema-specifications
jupyter-events
jupyter-client
jupyter-core
jupyter-server
jupyter-server-terminals
jupyterlab-pygments
kiwisolver
lxml==4.9.4
markupsafe
matplotlib==3.9.2
matplotlib-inline
mistune==3.1.0
multitasking==0.0.11
nbclassic
nbclient
nbconvert==7.16.5
nbformat
nest-asyncio
notebook-shim
numexpr
numpy==2.2.3
openpyxl
overrides
packaging
pandas
pandocfilters==1.5.1
parso
patsy
peewee==3.17.8
pexpect
pickleshare
pillow
pkgutil-resolve-name
platformdirs
prometheus-client==0.21.1
prompt-toolkit
psutil==6.1.1
psycopg2
ptyprocess
pure-eval
pycparser
pygments
pyparsing
pysocks
python-dateutil
python-dotenv
python-json-logger
pytz
pyyaml
pyzmq
referencing
requests
requests-futures==1.0.2
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
seaborn
send2trash
setuptools==72.1.0
six
sniffio
soupsieve==2.6
stack-data
statsmodels
terminado
threadpoolctl
tinycss2
tornado
tqdm==4.67.1
traitlets
types-python-dateutil
typing-extensions
typing-utils
tzdata
unicodedata2
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel==0.44.0
wquantiles
yahooquery==2.3.7
yfinance==0.2.54
zipp
zstandard
